body{
    background: #666379;
    background: linear-gradient(90deg,rgba(102, 99, 121, 1) 0%, rgba(81, 75, 97, 1) 50%, rgba(104, 98, 121, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    width: 97vw;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 5px 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.vraksts{
    grid-column: 3/6;
    grid-row: 2/3;
    background-color: rgba(44, 38, 56);
    box-shadow: -7px 8px 31px -1px rgba(0,0,0,0.73);
    color: white;
    border-radius: 8px;
}
.txt1{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    margin: 20px;
    margin-left: 180px;
    margin-bottom: 30px;
}

.login{
    grid-column: 3/6;
    grid-row: 4/8;
    background-color: rgba(44, 38, 56);
    box-shadow: -7px 8px 31px -1px rgba(0,0,0,0.73);
    color: white;
    border-radius: 8px;
}

.lgrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 150px;
}
.logs1{
    margin: 0px;
    margin-left: 310px;
}
.tekst1{
    font-size: 40px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    margin: 0px;
    margin-top: 20px;
}

.logs2{
    display: flex;
    flex-direction: row;
}
.tekst2{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    opacity: 75%;
    margin-left: 270px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.tekst3{
    margin-top: 20px;
    color:rgb(161, 97, 235);
    font-size: 15px;
    font-weight: 400;
    opacity: 60%;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.logs4{

}
.mail{
    margin-left: 165px;
    height: 30px;
    margin-top: 25px;
    width: 430px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(80, 71, 97);
    border-color:rgb(68, 56, 90);
    box-shadow: 1px 1px 54px 3px rgba(0,0,0,0.73);
}


.logs5{

}
.pass{
    margin-left: 165px;
    height: 30px;
    margin-top: 25px;
    width: 430px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(80, 71, 97);
    border-color:rgb(68, 56, 90);
    box-shadow: 1px 1px 54px 3px rgba(0,0,0,0.73);
}


.logs7{

}
.reg{
    margin-left: 165px;
    height: 50px;
    margin-top: 30px;
    width: 430px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(109, 84, 181);
    border-color:rgb(116, 41, 255);
    box-shadow: 1px 1px 54px 3px rgba(0,0,0,0.73);
    opacity: 80%;
    color: white;
}